Repository Vaporjawn/Travel-Logger, changes with the labels that .github/labeler.yml gives for each.
All labels: component: frontend, component: backend, type: documentation, type: configuration, dependencies, type: tests, type: security, github actions

.github/labeler.yml:

# Labeler configuration for automatic PR labeling
# https://github.com/actions/labeler

# Frontend changes
'component: frontend':
  - client/**/*
  - '**/*.tsx'
  - '**/*.jsx'
  - '**/*.css'
  - '**/package.json'
  - '**/vite.config.ts'
  - '**/tsconfig*.json'

# Backend changes
'component: backend':
  - server/**/*
  - '**/api/**/*'
  - '**/models/**/*'
  - '**/middlewares.js'
  - server/package.json

# Documentation changes
'type: documentation':
  - '**/*.md'
  - docs/**/*
  - '.github/**/*.md'
  - '**/README.md'
  - '**/CHANGELOG.md'

# Configuration changes
'type: configuration':
  - '.github/workflows/**/*'
  - '.github/**/*.yml'
  - '.github/**/*.yaml'
  - '**/eslint.config.js'
  - '**/.gitignore'
  - '**/.gitattributes'
  - '**/now.json'
  - '**/vercel.json'

# Dependencies
'dependencies':
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

# Tests
'type: tests':
  - '**/*.test.*'
  - '**/*.spec.*'
  - '**/tests/**/*'
  - '**/test/**/*'
  - '**/setupTests.js'

# Security
'type: security':
  - '.github/SECURITY.md'
  - '**/security/**/*'
  - '**/*security*'

# GitHub workflows and actions
'github actions':
  - '.github/workflows/**/*'
  - '.github/actions/**/*'

fix: Update Dependabot auto-approve workflow to use PAT_TOKEN for GitHub actions
  .github/workflows/dependabot-auto-merge.yml
Labels: type: configuration, github actions

Add Dependabot auto-assign and auto-approve workflows
  .github/workflows/dependabot-auto-approve.yml
  .github/workflows/dependabot-auto-assign.yml
Labels: type: configuration, github actions

fix(server): override underscore to patched version, bump nodemon 2→3
  server/package-lock.json
  server/package.json
Labels: component: frontend, component: backend, dependencies

fix(server): override underscore to patched version, bump nodemon 2→3 (#36)
  server/package-lock.json
  server/package.json
Labels: component: frontend, component: backend, dependencies

Add GitHub Pages landing page
  docs/index.html
Labels: type: documentation
